@model Liga_Tabajara_Futebol.Models.EstatisticaPartida

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EstatisticaPartida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jogador.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jogador.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partida.Estadio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partida.Estadio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GolsMarcados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GolsMarcados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GolsSofridos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GolsSofridos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asistencias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asistencias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CartoesAmarelos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartoesAmarelos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CartoesVermelhos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartoesVermelhos)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
