@model IEnumerable<Liga_Tabajara_Futebol.Models.EstatisticaPartida>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Jogador.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Partida.Estadio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GolsMarcados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GolsSofridos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asistencias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartoesAmarelos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartoesVermelhos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Jogador.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Partida.Estadio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GolsMarcados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GolsSofridos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asistencias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartoesAmarelos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartoesVermelhos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
